@page "/"
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>
<div class="col-12 d-flex flex-row mt-5">
    <div class="col-6 ">
        <div class="card d-flex justify-content-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">ENCRYPT your text now with the use of Playfair Chiffre!!!</p>
                <a href="/../NeoPage" class="card-link">1. Variante</a>
                <a href="/../Encrypt" class="card-link">2. Variante</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card d-flex justify-content-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">DECRYPT your text now with the use of Playfair Chiffre!!!</p>
                <a href="/../DecryptPage" class="card-link">1. Variante</a>
                <a href="/../Decrypt" class="card-link">2. Variante</a>
            </div>
        </div>
    </div>
</div>

